<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ZaharyBlog</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
    <script src="/scripts/jquery-3.1.1.min.js" ></script>
    <script src="/scripts/login.js"></script>

</head>

<br>
    <div id="navbar">
        <a href="#" id="logo"> MyBlog Zahary </a>
    </div>
<br>
    <form id="form">
        <div id="divForm">
        Username:
        <input type="text" id="username" required="true" />
        Password:
         <input type="password" id="password" required="true"/>
        <input type="submit" onclick="loginClick()" value="Login" id="button"/> >
        </div>
    </form>


<section id="selection">
    <dd>
        <h1>Курс Software Technologies - юни 2016</h1>
        <dl id="dd">
Курсът "Software Technologies" дава начални познания по най-използваните
софтуерни технологии в практиката и позволява на студентите да се ориентират
кои технологии им харесват, за да ги изучават по-задълбочено. Изучават се базови
концепции от front-end и back-end разработката. Курсът се състои от четири части:
HTML5 разработка (HTML + CSS + JavaScript + AJAX + REST), PHP уеб разработка
(PHP + MySQL), C# уеб разработка (ASP.NET MVC + Entity Framework + SQL Server) и
Java уеб разработка (Java + Spring MVC + Hibernate + MySQL).
            <a href="WebFundamentalCourse.html">read more...</a>
        </dl>
    </dd>
</section>
<br>
<section id="selection2">
    <dd>
        <h1>Курс Software Technologies - юни 2016</h1>
        <dl id="dd1">
            Курсът "Software Technologies" дава начални познания по най-използваните
            софтуерни технологии в практиката и позволява на студентите да се ориентират
            кои технологии им харесват, за да ги изучават по-задълбочено. Изучават се базови
            концепции от front-end и back-end разработката. Курсът се състои от четири части:
            HTML5 разработка (HTML + CSS + JavaScript + AJAX + REST), PHP уеб разработка
            (PHP + MySQL), C# уеб разработка (ASP.NET MVC + Entity Framework + SQL Server) и
            Java уеб разработка (Java + Spring MVC + Hibernate + MySQL).
            <a href="WebFundamentalCourse.html">read more...</a>
        </dl>
    </dd>
</section>

</header>
<main>

</main>
<footer id="footer">
   Zahary Todorov Blog
</footer>

</html>