<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZaharyBlog</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body>
<header>
    <div id="navbar">
        <div href="#" id="logo">MyBlog</div>
        <div style="in">
        <a href="#" id="login">Login</a>
        <a href="#">Registrate</a>
        <a href="#">Bg</a>
        </div>




    </div>
sadsd

</header>
<main>
    <div id="myPic">
        <img src="me.png">
    </div>
</main>
<footer></footer>
</body>
</html>